/* CSS Document */
$theme-color: #ffffff;
$second-theme-color: #032c6b;
$third-theme-color: #d68d00;

$font-normal: 'Gotham-Book';
$font-bold: 'Gotham-Medium';
$font-color: #929ba4;
$font-size: 14px;
$font-height: 22px;

$wrapper-size: 1100px;
$big-tab-size: 980px;
$mid-tab-size: 860px;
$tab-size: 780px;
